.row {
    display: flex;
    margin-top: 2rem;
    
}

.logo {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

.container{
    max-width: 40rem;
    padding: 0 3rem;
    margin-top: 2rem;
    margin: 3rem auto 6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}